<!DOCTYPE html>
<html>

<head>
    <title>Email Verification</title>
</head>

<body>
    <div class="container">

        <% if (isError) { %>
            <svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="red-circle" cx="26" cy="26" r="25" />
                <line class="cross" x1="16" y1="16" x2="36" y2="36" />
                <line class="cross" x1="36" y1="16" x2="16" y2="36" />
            </svg>
            <% } else { %>
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="circle" cx="26" cy="26" r="25" />
                    <path class="tick" fill="none" d="M14 27l10.917 10.917L38 17" />
                </svg>
                <% } %>

                    <h1>
                        <%= messageToShow %>
                    </h1>

                    <% if (buttonToShow) { %>
                        <button onclick="login()">Login</button>
                        <% } %>

    </div>

    <script>
        const frontendUrl = "<%= frontendUrl %>";
        function login() {
            window.location.href = frontendUrl;
        }
    </script>
</body>

</html>